
node_modules
dist
dist-ssr
* local

# Logs
.log
npm-debug. log*
yarn-debug. log*
yarn-error. 10g* 
pnpm-debug. 10g*
lerna-debug. 1og*

# Editor directories and files
•vscode/*
!.vscode/extensions.json 
.idea
. DS_Store
*. suo
*.ntvs*
*.njsproj
*. sin
". SW?

# manual changes
client/node_modules
server/node_modules
.env
.client/.env
.server/.env